<footer class="footer bg-8 flex h-[54px] py-[14px] px-[16px] items-center justify-end gap-2 mt-[10px]">
  <button class="return py-[6px] px-[10px] h-8 flex items-center rounded-md text-xs color-9">
    إرجاع الفاتورة
  </button>
  <button class="send bg-12 px-[10px] py-1 h-8 rounded flex items-center gap-[6px]">
    <span class="icon w-[14px] h-[14px] ">
      <img src="imgs/paper-plane.svg" alt="send icon">
    </span>
    <span class="text-xs font-medium color-10 ">إرسال الفاتورة</span>
  </button>
</footer>
