<section class="  p-3 rounded-md bg-white section-border flex flex-col gap-3 mt-2">
  <h3 class="flex items-center gap-1  ">
    <span class="section-icon bg-5">
    </span>
    <span class="text-xs new-sans font-medium color-2 ">
      العميل والصفقة </span>
  </h3>
  <div class="flex justify-between">
    <div class="right flex gap-2 items-center  bg-2 p-3  rounded-xl    ">
      <div class="img-container w-[42px] h-[42px] bg-8  rounded-full overflow-hidden flex justify-center items-center ">
        <img src="imgs/Image-74.png" alt="">
      </div>
      <p class="flex flex-col gap-2">
        <span class="name text-sm new-sans font-medium color-dark">
          حسين عبدالرؤف الجبلاوي حسين ع...
        </span>
        <span class="flex items-center gap-2">
          <span class="new-sans color-2 text-xs flex ">
            رصيد الحساب :
          </span>
          <span class="text-sm font-semibold color-5 popins">
            12,500
            <span class="new-sans text-sm font-normal">
              ج.م
            </span>
          </span>
        </span>
      </p>
    </div>
    <div class="left flex gap-2 items-center  bg-2 p-3 rounded-xl">
      <div class="img-container w-[42px] h-[42px] bg-8  rounded-full overflow-hidden flex justify-center items-center ">
        <img class="w-4 h-4 " src="imgs/briefcase.svg " alt="">
      </div>
      <p class="flex flex-col gap-2">
        <span class="name text-sm new-sans font-medium color-dark">
          صفقة إستيراد هواتف سامسونج م... </span>
        <span class="flex items-center gap-2">
          <span class="new-sans color-2 text-xs">
            قيمة الصفقة: </span>
          <span class="text-sm font-semibold color-4 popins">
            100,000
            <span class="new-sans text-sm font-normal">
              ج.م
            </span>
          </span>
        </span>
      </p>
    </div> <span class="line"></span>

  </div>
</section>
