@mixin section-icon {
  width: 5px;
  height: 10px;
  border-radius: 1px;
}

.section-icon {
  @include section-icon();
}

.new-sans {
  font-family: "Neo Sans Arabic", sans-serif;
}

.popins {
  font-family: "Poppins", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

// ========================

.color-1 {
  color: #ff6f6f;
}

.color-2 {
  color: #616776;
}

.color-3 {
  color: #1c1c28;
}

.color-4 {
  color: #3e97ff;
}

.color-5 {
  color: #48b29a;
}

.color-6 {
  color: #6b7280;
}
.color-7 {
  color: #92a1ad;
}
.color-8 {
  color: #898995;
}
.color-9 {
  color: #2e2e2e;
}
.color-10 {
  color: #fff;
}

// ========================

.bg-1 {
  background-color: #f4f4f4;
}

.bg-2 {
  background-color: #f8f8f8;
}
.bg-3 {
  background-color: #ffac4d;
}
.bg-4 {
  background-color: #30cdb5;
}

.bg-5 {
  background-color: #40cdf4;
}

.bg-6 {
  background-color: #ececec;
}

.bg-7 {
  background-color: #6b7280;
}
.bg-8 {
  background-color: #ffffff;
}
.bg-9 {
  background-color: #f49740;
}
.bg-10 {
  background-color: #f7fbff;
}
.bg-11 {
  background-color: #4094f4;
}
.bg-12 {
  background-color: #3e97ff;
}

// ========================
.fs-13px {
  font-size: 13px;
}
// ========================
.section-border {
  border: 1px solid #ecf0f5;
}

.border-1 {
  border-color: #e7e7e7;
}

// ========================
.box-shadow-1 {
  box-shadow: 0px 1px 2px 0px #0000000d;
}

// ========================

.text-xs {
  line-height: normal;
}
