<div class="summery-container p-3 rounded-md bg-white section-border flex flex-col gap-5 mt-2">
  <h3 class="flex items-center gap-1  ">
    <span class="section-icon bg-11">
    </span>
    <span class="text-xs new-sans line-h-15 font-medium color-2">
      ملخص الفاتورة
    </span>
  </h3>
  <div class="body grid grid-cols-2">
    <div class="flex flex-col gap-4 max-h-[143px]">
      <div class="grid grid-cols-2">
        <p class="color-8 line-h-15 text-xs">
          عدد الأصناف :
        </p>
        <p class="text-xs">
          <span class="inter line-h-15 font-medium"> 3 </span>
          <span class="new-sans line-h-15 font-normal ">أصناف </span>
        </p>
      </div>
      <div class="grid grid-cols-2">
        <p class="color-8 line-h-15 text-xs">
          عدد القطع :
        </p>
        <p class="text-xs">
          <span class="inter line-h-15 font-medium"> 3 </span>
          <span class="new-sans line-h-15 font-normal ">قطع </span>
        </p>
      </div>
      <div class="grid grid-cols-2">
        <p class="color-8 line-h-15 text-xs">
          إجمالي السعر :
        </p>
        <p class="text-xs">
          <span class="inter line-h-15 font-medium"> 170,598 </span>
          <span class="new-sans line-h-15 font-normal ">ج.م </span>
        </p>
      </div>
      <div class="grid grid-cols-2">
        <p class="color-8 line-h-15 text-xs">
          الخصم :
        </p>
        <p class="text-xs">
          <span class="inter line-h-15 font-medium"> 9,598 </span>
          <span class="new-sans line-h-15 font-normal ">ج.م </span>
        </p>
      </div>
      <div class="grid grid-cols-2">
        <p class="color-8 line-h-15 text-xs">
          الضريبة :
        </p>
        <p class="text-xs">
          <span class="inter line-h-15 font-medium"> 12,500 </span>
          <span class="new-sans line-h-15 font-normal ">ج.م </span>
        </p>
      </div>
      <div class="grid grid-cols-2">
        <p class=" text-xs font-medium">
          السعر النهائي (

          <span class="popins">
            EGP
          </span>

          ) :
        </p>
        <p class="text-xs">
          <span class="inter line-h-15 font-medium"> 160,000 </span>
          <span class="new-sans line-h-15 font-normal ">جنية مصري</span>
        </p>
      </div>
    </div>
    <div class="flex justify-end me-[35px]">
      <div class="qr-container flex justify-center items-center">
        <qr-code value="Hello world!" size="124" errorCorrectionLevel="M" [lightColor]="'#F6F6F6'"
          [darkColor]="'#1C1C28'" [value]="'https://www.google.co.uk/'" />
      </div>
    </div>
  </div>
</div>
