<div class="produts-details p-3 rounded-md bg-white section-border flex flex-col gap-5 mt-2">
  <h3 class="flex items-center gap-1  ">
    <span class="section-icon bg-11">
    </span>
    <span class="text-xs new-sans font-medium color-2">
      ملخص الفاتورة
    </span>
  </h3>
  <div class="body grid grid-cols-2">
    <div class="flex flex-col gap-4">
      <div class="grid grid-cols-2">
        <p class="color-8 text-xs">
          عدد الأصناف :
        </p>
        <p class="text-xs">
          <span class="inter font-medium"> 3 </span>
          <span class="new-sans font-normal ">أصناف </span>
        </p>
      </div>
      <div class="grid grid-cols-2">
        <p class="color-8 text-xs">
          عدد القطع :
        </p>
        <p class="text-xs">
          <span class="inter font-medium"> 3 </span>
          <span class="new-sans font-normal ">قطع </span>
        </p>
      </div>
      <div class="grid grid-cols-2">
        <p class="color-8 text-xs">
          إجمالي السعر :
        </p>
        <p class="text-xs">
          <span class="inter font-medium"> 170,598 </span>
          <span class="new-sans font-normal ">ج.م </span>
        </p>
      </div>
      <div class="grid grid-cols-2">
        <p class="color-8 text-xs">
          الخصم :
        </p>
        <p class="text-xs">
          <span class="inter font-medium"> 9,598 </span>
          <span class="new-sans font-normal ">ج.م </span>
        </p>
      </div>
      <div class="grid grid-cols-2">
        <p class="color-8 text-xs">
          الضريبة :
        </p>
        <p class="text-xs">
          <span class="inter font-medium"> 12,500 </span>
          <span class="new-sans font-normal ">ج.م </span>
        </p>
      </div>
      <div class="grid grid-cols-2">
        <p class=" text-xs font-medium">
          السعر النهائي (

          <span class="popins">
            EGP
          </span>

          ) :
        </p>
        <p class="text-xs">
          <span class="inter font-medium"> 160,000 </span>
          <span class="new-sans font-normal ">جنية مصري</span>
        </p>
      </div>
    </div>
    <div class=""></div>
  </div>
</div>
