<div class="invoice-details">
  <div class="body-title bg-3 p-4 flex justify-between rounded-lg  my-[10px] ">
    <h2 class="text-white text-base font-medium new-sans flex gap-3 items-center">
      <i class="fa-solid fa-rotate-left"></i>
      فاتورة المرتجع
    </h2>
    <div class="title-img-container"></div>
  </div>
  <div class="sections-container flex flex-col gap-4  p-3 rounded-md bg-white section-border">
    <section class="  flex flex-col gap-3">
      <div class="flex justify-between items-center ">
        <h3 class="flex items-center gap-1 ">
          <span class="section-icon bg-4 ">
          </span>
          <span class="text-xs new-sans font-medium color-2  ">
            تفاصيل الفاتورة
          </span>
        </h3>
        <button class="print-btn section-border rounded-md box-shadow-1 p-x10  py-[6px]  ">
          <i class="fa-solid fa-print color-4"></i>
        </button>
      </div>
      <div class="text-start">
        <h4 class="mb-4 text-sm new-sans color-3 font-medium">
          فاتورة نقدي
        </h4>
        <div class="flex items-center gap-10 ">
          <div class="flex items-center gap-3">
            <span class="color-2">
              <i class="fa fa-solid fa-receipt "></i>
            </span>
            <p>
              <span class="flex flex-col gap-6px">
                <span class="text-xs color-2 new-sans">
                  رقم الفاتورة
                </span>
                <span class="fs-13px color-3flex   gap-[6px] popins ">
                  No_105945
                  <button>
                    <i class="fa-regular fa-copy"></i>
                  </button>
                </span>
              </span>
            </p>

          </div>
          <div class="flex items-center gap-3">
            <span class="color-2">
              <i class="fa-solid fa-coins"></i> </span>
            <p>
              <span class="flex flex-col gap-6px">
                <span class="text-xs color-2 new-sans">
                  قيمة الفاتورة
                </span>
                <span class="fs-13px color-3flex f  gap-[6px] popins ">
                  No_105945
                  <button>
                    <i class="fa-regular fa-copy"></i>
                  </button>
                </span>
              </span>
            </p>

          </div>
          <div class="flex items-center gap-3">
            <span class="color-2">
              <i class="fa-regular fa-user"></i> </span>
            <p>
              <span class="flex flex-col gap-6px">
                <span class="text-xs color-2 new-sans">
                  المنشئ </span>
                <span class="fs-13px color-3flex   gap-[6px] popins ">
                  No_105945
                  <button>
                    <i class="fa-regular fa-copy"></i>
                  </button>
                </span>
              </span>
            </p>

          </div>
          <div class="flex items-center gap-3">
            <span class="color-2">
              <i class="fa-regular fa-calendar-minus"></i> </span>
            <p>
              <span class="flex flex-col gap-6px">
                <span class="text-xs color-2 new-sans">
                  تاريخ الإنشاء </span>
                <span class="fs-13px color-3flex   gap-[6px] popins ">
                  No_105945
                  <button>
                    <i class="fa-regular fa-copy"></i>
                  </button>
                </span>
              </span>
            </p>

          </div>

        </div>

      </div>
    </section>
    <div class="br-line border border-solid border-1"></div>
    <section>
      <div class="return-data flex flex-col gap-[10px]">
        <p class="flex gap-2">
          <span class="return-data-icon  max-h-[14px] bg-6 p-1 rounded-full flex justify-center items-center">
            <span class="return-inner-icon bg-7 rounded-full  w-[6px] h-[6px]"></span>
          </span>
          <span class="text-xs color-3">المسؤل عن الإرجاع:</span>
          <span class="text-xs color-6">حسين عبدالعال معاطي </span>
        </p>
        <p class="flex gap-2">
          <span class="return-data-icon  max-h-[14px] bg-6 p-1 rounded-full flex justify-center items-center">
            <span class="return-inner-icon bg-7 rounded-full  w-[6px] h-[6px]"></span>
          </span>
          <span class="text-xs color-3">تاريخ الإرجاع: </span>
          <span class="text-xs color-6 flex gap-1 items-center">
            <span class="date popins ">
              2023/05/30
            </span>
            <span class="v-line popins">|</span>
            <span class="time">
              <span class="popins">05:32 </span>
              <span class="new-sans ">ص</span>
            </span>
          </span>
        </p>
        <p class="flex gap-2">
          <span class="return-data-icon  max-h-[14px] bg-6 p-1 rounded-full flex justify-center items-center">
            <span class="return-inner-icon bg-7 rounded-full  w-[6px] h-[6px]"></span>
          </span>
          <span class="text-xs color-3">سبب الإرجاع:</span>
          <span class="text-xs color-6">العميل رفض الشراء العميل رفض الشراءالعميل رفض الشراءالعميل رفض الشراءالعميل رفض
            الشراء</span>
        </p>
      </div>
    </section>
  </div>
</div>
