<main class="">
  <header class="px-4 py-3 bg-white flex justify-between">
    <button class="close-btn w-5 h-5 rounded-md">
      <i class="fa-solid fa-x text-xs "></i>
    </button>
    <h1 class="text-sm font-medium">
      <span class="new-sans">

        فاتورة شراء رقم 105945
      </span>
      <span>
        <i class="fa fa-solid fa-receipt color-orange-1"></i>
      </span>
    </h1>
  </header>
  <div class="body p-x10">
    <div class="body-title bg-orange-2 p-4 flex justify-between rounded-lg m-y10">
      <div class="title-img-container"></div>
      <h2 class="text-white text-base font-medium new-sans flex gap-3 items-center">
        فاتورة المرتجع
        <i class="fa-solid fa-rotate-left"></i>
      </h2>

    </div>
    <section class="  p-3 rounded-md bg-white section-border flex flex-col gap-3">
      <div class="flex justify-between items-center ">

        <button class="print-btn section-border rounded-md box-shadow-1 p-x10 p-y6 ">
          <i class="fa-solid fa-print color-blue-1"></i>
        </button>
        <h3 class="flex items-center gap-1 ">
          <span class="text-xs new-sans font-medium color-gray-1  ">
            تفاصيل الفاتورة
          </span>
          <span class="section-icon bg-green-1">
          </span>
        </h3>
      </div>
      <div class="text-end">
        <h4 class="mb-4 text-sm new-sans color-dark font-medium">
          فاتورة نقدي
        </h4>
        <div class="flex items-center gap-10 flex-row-reverse">
          <div class="flex items-center gap-3">
            <p>
              <span class="flex flex-col gap-6px">
                <span class="text-xs color-gray-1 new-sans">
                  رقم الفاتورة
                </span>
                <span class="fs-13px color-dark flex flex-row-reverse gap-6px popins ">
                  No_105945
                  <button>
                    <i class="fa-regular fa-copy"></i>
                  </button>
                </span>
              </span>
            </p>
            <span class="color-gray-1">
              <i class="fa fa-solid fa-receipt "></i>
            </span>
          </div>
          <div class="flex items-center gap-3">
            <p>
              <span class="flex flex-col gap-6px">
                <span class="text-xs color-gray-1 new-sans">
                  قيمة الفاتورة
                </span>
                <span class="fs-13px color-dark flex flex-row-reverse gap-6px popins ">
                  No_105945
                  <button>
                    <i class="fa-regular fa-copy"></i>
                  </button>
                </span>
              </span>
            </p>
            <span class="color-gray-1">
              <i class="fa-solid fa-coins"></i> </span>
          </div>
          <div class="flex items-center gap-3">
            <p>
              <span class="flex flex-col gap-6px">
                <span class="text-xs color-gray-1 new-sans">
                  المنشئ </span>
                <span class="fs-13px color-dark flex flex-row-reverse gap-6px popins ">
                  No_105945
                  <button>
                    <i class="fa-regular fa-copy"></i>
                  </button>
                </span>
              </span>
            </p>
            <span class="color-gray-1">
              <i class="fa-regular fa-user"></i> </span>
          </div>
          <div class="flex items-center gap-3">
            <p>
              <span class="flex flex-col gap-6px">
                <span class="text-xs color-gray-1 new-sans">
                  تاريخ الإنشاء </span>
                <span class="fs-13px color-dark flex flex-row-reverse gap-6px popins ">
                  No_105945
                  <button>
                    <i class="fa-regular fa-copy"></i>
                  </button>
                </span>
              </span>
            </p>
            <span class="color-gray-1">
              <i class="fa-regular fa-calendar-minus"></i> </span>
          </div>
        </div>

      </div>
    </section>
    <section class="  p-3 rounded-md bg-white section-border flex flex-col gap-3 mt-2">
      <h3 class="flex items-center gap-1 text-end justify-end ">
        <span class="text-xs new-sans font-medium color-gray-1 ">
          العميل والصفقة </span>
        <span class="section-icon bg-blue-2">
        </span>
      </h3>
      <div class="flex justify-between">
        <div class="left flex gap-2 items-center flex-row-reverse bg-gray-2 p-3 rounded-xl">
          <div class="img-container w-42px h-42px rounded-full overflow-hidden flex justify-center items-center ">
            <img class="w-4 h-4 " src="imgs/briefcase.svg " alt="">
          </div>
          <p class="flex flex-col gap-2">
            <span class="name text-sm new-sans font-medium color-dark">
              صفقة إستيراد هواتف سامسونج م... </span>
            <span>
              <span class="new-sans color-gray-1 text-xs">
                قيمة الصفقة: </span>
              <span class="text-sm font-semibold color-blue-1 popins">
                100,000
                <span class="new-sans text-sm font-normal">
                  ج.م
                </span>
              </span>
            </span>
          </p>
        </div> <span class="line"></span>
        <div class="right flex gap-2 items-center flex-row-reverse bg-gray-2 p-3  rounded-xl    ">
          <div class="img-container w-42px h-42px rounded-full overflow-hidden ">
            <img src="imgs/Image-74.png" alt="">
          </div>
          <p class="flex flex-col gap-2">
            <span class="name text-sm new-sans font-medium color-dark">
              حسين عبدالرؤف الجبلاوي حسين ع...
            </span>
            <span>
              <span class="new-sans color-gray-1 text-xs">
                رصيد الحساب :
              </span>
              <span class="text-sm font-semibold color-green-2 popins">
                12,500
                <span class="new-sans text-sm font-normal">
                  ج.م
                </span>
              </span>
            </span>
          </p>
        </div>
      </div>
    </section>
  </div>
</main>