<div class="produts-details p-3 rounded-md bg-white section-border flex flex-col gap-3 mt-2">
  <h3 class="flex items-center gap-1  ">
    <span class="section-icon bg-9">
    </span>
    <span class="text-xs new-sans font-medium color-2">
      المنتجات
    </span>
  </h3>
  <div class="body flex flex-col gap-3 ">

    <section class="product-item-container p-3 rounded-md  flex justify-between items-center">
      <div class="flex gap-[6px]  items-center  ">
        <div class="img-container w-8 h-8 rounded overflow-hidden">
          <img src="imgs/product-img.png" alt="product">
        </div>
        <p class="product-name fs-13px max-w-[163px] font-medium ">
          سامسونج جالاكسي
          <span class="popins  fs-13px font-medium  ">
            s24 pro max ultra seven inch lit...
          </span>
        </p>
      </div>
      <div class="details flex items-center gap-5">
        <p class="flex flex-col gap-[6px]">
          <span class="text-xs color-6">
            السعر
          </span>
          <span class="text-xs popins">
            2,000,000
          </span>
        </p>
        <p class="flex flex-col gap-[6px]">
          <span class="text-xs color-6">
            ضريبة المنتج
          </span>
          <span class="text-xs popins flex gap-1 items-center">
            15
            <span class="symbol color-7 popins ">
              %
            </span>
          </span>
        </p>
        <p class="flex flex-col gap-[6px]">
          <span class="text-xs color-6">
            الكمية
          </span>
          <span class="text-xs popins text-end">
            1000
          </span>
        </p>
        <p class="flex flex-col gap-[6px]">
          <span class="text-xs color-6">
            الخصم
          </span>
          <span class="text-xs popins flex gap-1 items-center">
            2
            <span class="symbol color-7 popins ">
              %
            </span>
          </span>
        </p>
        <p class="flex flex-col gap-[6px]">
          <span class="text-xs color-6">
            الإجمالي
          </span>
          <span class="text-xs popins flex gap-1 items-center font-semibold">
            20,000,000
            <span class="symbol color-7 new-sans font-normal">
              ج.م
            </span>
          </span>
        </p>
      </div>
    </section>
    <section class="product-item-container p-3 rounded-md  flex justify-between items-center">
      <div class="flex gap-[6px]  items-center  ">
        <div class="img-container w-8 h-8 rounded overflow-hidden">
          <img src="imgs/product-img.png" alt="product">
        </div>
        <p class="product-name fs-13px max-w-[163px] font-medium ">
          سامسونج جالاكسي
          <span class="popins  fs-13px font-medium  ">
            s24 pro max ultra seven inch lit...
          </span>
        </p>
      </div>
      <div class="details flex items-center gap-5">
        <p class="flex flex-col gap-[6px]">
          <span class="text-xs color-6">
            السعر
          </span>
          <span class="text-xs popins">
            2,000,000
          </span>
        </p>
        <p class="flex flex-col gap-[6px]">
          <span class="text-xs color-6">
            ضريبة المنتج
          </span>
          <span class="text-xs popins flex gap-1 items-center">
            15
            <span class="symbol color-7 popins ">
              %
            </span>
          </span>
        </p>
        <p class="flex flex-col gap-[6px]">
          <span class="text-xs color-6">
            الكمية
          </span>
          <span class="text-xs popins text-end">
            1000
          </span>
        </p>
        <p class="flex flex-col gap-[6px]">
          <span class="text-xs color-6">
            الخصم
          </span>
          <span class="text-xs popins flex gap-1 items-center">
            2
            <span class="symbol color-7 popins ">
              %
            </span>
          </span>
        </p>
        <p class="flex flex-col gap-[6px]">
          <span class="text-xs color-6">
            الإجمالي
          </span>
          <span class="text-xs popins flex gap-1 items-center font-semibold">
            20,000,000
            <span class="symbol color-7 new-sans font-normal">
              ج.م
            </span>
          </span>
        </p>
      </div>
    </section>
    <section class="product-item-container p-3 rounded-md  flex justify-between items-center">
      <div class="flex gap-[6px]  items-center  ">
        <div class="img-container w-8 h-8 rounded overflow-hidden">
          <img src="imgs/product-img.png" alt="product">
        </div>
        <p class="product-name fs-13px max-w-[163px] font-medium ">
          سامسونج جالاكسي
          <span class="popins  fs-13px font-medium  ">
            s24 pro max ultra seven inch lit...
          </span>
        </p>
      </div>
      <div class="details flex items-center gap-5">
        <p class="flex flex-col gap-[6px]">
          <span class="text-xs color-6">
            السعر
          </span>
          <span class="text-xs popins">
            2,000,000
          </span>
        </p>
        <p class="flex flex-col gap-[6px]">
          <span class="text-xs color-6">
            ضريبة المنتج
          </span>
          <span class="text-xs popins flex gap-1 items-center">
            15
            <span class="symbol color-7 popins ">
              %
            </span>
          </span>
        </p>
        <p class="flex flex-col gap-[6px]">
          <span class="text-xs color-6">
            الكمية
          </span>
          <span class="text-xs popins text-end">
            1000
          </span>
        </p>
        <p class="flex flex-col gap-[6px]">
          <span class="text-xs color-6">
            الخصم
          </span>
          <span class="text-xs popins flex gap-1 items-center">
            2
            <span class="symbol color-7 popins ">
              %
            </span>
          </span>
        </p>
        <p class="flex flex-col gap-[6px]">
          <span class="text-xs color-6">
            الإجمالي
          </span>
          <span class="text-xs popins flex gap-1 items-center font-semibold">
            20,000,000
            <span class="symbol color-7 new-sans font-normal">
              ج.م
            </span>
          </span>
        </p>
      </div>
    </section>

    <section class="total bg-10 py-3 px-4 rounded-md  flex justify-between items-center">
      <div class="flex gap-[6px]  items-center  ">
        <div class="img-container w-[14px] h-[14px] rounded overflow-hidden">
          <img src="imgs/wallet.svg" alt="product">
        </div>
        <p class="product-name color-8 text-xs font-medium ">
          المجموع
        </p>
      </div>
      <div class="details  flex items-center gap-14">
        <p class="flex flex-col gap-[6px]">
          <span class="text-xs color-8 font-medium">
            إجمالي السعر
          </span>
          <span class="text-xs popins">
            2,000,000
          </span>
        </p>
        <p class="flex flex-col gap-[6px]">
          <span class="text-xs color-8 font-medium">
            إجمالي الضرائب
          </span>
          <span class="text-xs popins">
            120
          </span>
        </p>
        <p class="flex flex-col gap-[6px]">
          <span class="text-xs color-8 font-medium">
            إجمالي الخصم
          </span>
          <span class="text-xs popins">
            252000
          </span>
        </p>
        <p class="flex flex-col gap-[6px]">
          <span class="text-xs color-8 font-medium">
            السعر النهائي
          </span>
          <span class="text-xs popins font-semibold line">
            15.001.580
            <span class="symbol new-sans font-medium">
              ج.م
            </span>
          </span>
        </p>

      </div>
    </section>

  </div>
</div>
